@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100//900&display=swap');
h1 {
    text-align: center;
    padding: 32, 32, 32 ,32;
    border: 5px;
    border-radius: 5px;
    border-color: black;
}
.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
body {
    background-color: tan;
}
.centered-text {
    text-align: center;
}




/* MEDIA */
/* SMALL/MOBILE */
/* @media (min-width: 425px){
    body{
        font-size: 10px;
    }
}  */
/* MEDIUM/TABLET */
/* @media (min-width: 768px){
    p{
        font-size: 15px;
    }
} */
/* LARGE/LAPTOP */
/* @media (min-width: 1440px){
    p{
        font-size: 30px;
    }
} */
/* XL/4K */
/* @media (min-width: 2560px){
    p{
        font-size: 40px;
    }
} */
 pre {
    background-color: black;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-x: auto;
  }
  code {
    font-family: Consolas, "Courier New", monospace;
    color: white;
  }