@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100//900&display=swap');
h1 {
    text-align: center;
    padding: 32, 32, 32 ,32;
    border: 5px;
    border-radius: 5px;
    border-color: black;
}
.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
body {
    background-color: tan;
}
.centered-text {
    text-align: center;
}
.logo {
    size: 30vh;
}
